.navbar-top-links .dropdown-anneeScolaire {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-anneeScolaire {
    margin-left: -123px;
}


@media(min-width:768px) {
    .navbar-top-links .dropdown-anneeScolaire {
        margin-left: auto;
    }
}


.logged-out
{
	color: #f43340;
}

.logged-in
{
	color: #47bc14;
}


.ui-datepicker
{
	width: 90%;
	margin: 30px auto 0 auto;
}

#page-wrapper
{
	min-height: 700px!important;
}